

@font-face {
  font-family: 'iransans';
  src: url('./../public/fonts/IRANSans/woff/IRANSansWeb_Light.woff') format('woff'), /* Pretty Modern Browsers */
  url('./../public/fonts/IRANSans/ttf/IRANSansWeb_Light.ttf') format('ttf'); /* Safari, Android, iOS */
  font-weight: normal;
}

@font-face {
  font-family: 'iransans';
  src: url('./../public/fonts/IRANSans/woff/IRANSansWeb_Bold.woff') format('woff'), /* Pretty Modern Browsers */
  url('./../public/fonts/IRANSans/ttf/IRANSansWeb_Bold.ttf') format('ttf'); /* Safari, Android, iOS */
  font-weight: bold;
}




